@model DapperProject1.Models.Teacher
    @{
        ViewData["Title"] = "Teacher";
    }
    <h3>Teachers</h3>
    <table class="table-condensed">
        <tr>
            <td>nickname </td>
            <td>min_price</td>
            <td>italki_url </td>
            <td>student_count  </td>
            <td>session_count  </td>
            <td>description </td>
            <td>country </td>
            <td>rating  </td>
            
            
            <td></td>
        </tr>
        
        
            <tr>
                <td>@Model.nickname  </td>
                <td>@Model.min_price  </td>
                <td>@Model.italki_url  </td>
                <td>@Model.student_count  </td>
                <td>@Model.session_count </td>
                <td>@Model.description  </td>
                <td>@Model.country  </td>
                <td>@Model.rating  </td>
               
               
            </tr>
        
    </table>
